Source: organizator
Section: utils
Priority: optional
Maintainer: Ovidiu Ionescu <ovidiu@ionescu.net>
Build-Depends:
  debhelper-compat (= 13),
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: organizator
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6, nginx
Description: The Organizator server
 Includes:
 - identity-organizator
 - hyper-organizator

