#!/usr/bin/make -f

export RUSTFLAGS=-C debuginfo=0
DESTDIR ?= $(CURDIR)/debian/organizator
CARGO = $${HOME}/.cargo/bin/cargo
WASM_PACKAGER = $${HOME}/.cargo/bin/wasm-pack

%:
	dh $@

override_dh_auto_build:
	cd Backend/Server && $(CARGO) build --release --workspace
	cd Frontend/organizator-wasm && $(WASM_PACKAGER) build --release --target web
	cd Frontend/Memo && npm run build

override_dh_auto_install:

override_dh_auto_clean:
	#cd Backend/server && $(CARGO) clean

