#!/usr/bin/make -f

export RUSTFLAGS=-C debuginfo=0
export PATH := $(HOME)/.cargo/bin:$(PATH)
DESTDIR ?= $(CURDIR)/debian/organizator
CARGO = cargo
WASM_PACKAGER = wasm-pack
NVM_DIR := $(HOME)/.nvm

%:
	dh $@

override_dh_auto_build:
	cd Backend/Server && $(CARGO) build --release --workspace
	cd Frontend/organizator-wasm && $(WASM_PACKAGER) build --release --target web
	cd Frontend/Memo && \
	/bin/bash -c 'export NVM_DIR="$(NVM_DIR)"; \
	[ -s "$$NVM_DIR/nvm.sh" ] && . "$$NVM_DIR/nvm.sh"; \
	nvm use default; \
	npm run build'
	cp Frontend/Memo/favicon.ico Frontend/Memo/build/main/favicon.ico

override_dh_auto_install:

override_dh_auto_clean:
	#cd Backend/Server && $(CARGO) clean

