[Unit]
Description=Hyper Organizator Service
After=network.target identity-organizator.service
BindsTo=identity-organizator.service

[Service]
Type=simple
User=ovidiu
Group=ovidiu
ExecStart=/usr/bin/hyper-organizator
Restart=always
LoadCredentialEncrypted=postgres_password:/etc/credstore/postgres_password
# Optional: Enable sandboxing for better security
PrivateMounts=yes
ProtectSystem=strict
ProtectHome=yes

[Install]
WantedBy=multi-user.target
